<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FDA_DROP_BOX_M27.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="APP" value="DRUG"/>
    <add key="SYSTEM_ID" value="7"/>
    <add key="PATH_BOX" value="C:\BOX_PDF\"/>
    <add key="PATH_BOX_TEMPLATE" value="C:\BOX_TEMP\"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.6.1" executionTimeout="90" maxRequestLength="99999" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="FDA_H2HConnectionString" connectionString="Data Source=10.111.28.69;Initial Catalog=FDA_H2H;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="FDA_H2HEntities" connectionString="metadata=res://*/Linq.EF_HTH.csdl|res://*/Linq.EF_HTH.ssdl|res://*/Linq.EF_HTH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.111.28.69;initial catalog=FDA_H2H;persist security info=True;user id=fusion;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FDA_SIP_CEREntities" connectionString="metadata=res://*/Linq.EF_CER.csdl|res://*/Linq.EF_CER.ssdl|res://*/Linq.EF_CER.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.111.28.69;initial catalog=FDA_SIP_CER;persist security info=True;user id=fusion;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FDA_XMLConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_SIPConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=LGT_SIP;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGTCPNConnectionString" connectionString="Data Source=10.111.28.103;Initial Catalog=LGTCPN;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGTPERMISSIONConnectionString" connectionString="Data Source=10.111.28.103;Initial Catalog=LGT_PERMISSION;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_MDC27ConnectionString" connectionString="Data Source=10.111.28.132;Initial Catalog=DRUG_DROPBOX;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_DRUGConnectionString" connectionString="Data Source=10.111.28.132;Initial Catalog=LGT_DRUG;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <FDA_DROP_BOX_M27.My.MySettings>
      <setting name="FDA_SIP_CER_WS_AUTHEN_Authentication" serializeAs="String">
        <value>http://10.111.28.104/WS_AUTHEN4/AUTHENTICATION.asmx</value>
      </setting>
      <setting name="FDA_SIP_CER_WS_GET_CPN_WS_DATA_CENTER" serializeAs="String">
        <value>http://10.111.28.104/WS_CENTER_CPN/WS_DATA_CENTER.asmx</value>
      </setting>
      <setting name="FDA_DROP_BOX_WS_BOOK_Service1" serializeAs="String">
        <value>http://10.111.28.105/WS_BOOKING_DRUG/WS_UPDATE_BOOKING_DRUG.asmx</value>
      </setting>
      <setting name="FDA_DROP_BOX_FOOD_WS_LOG_WS_LOG_CENTER" serializeAs="String">
        <value>http://10.111.28.108/LOG_FDA/WS_LOG_CENTER.asmx</value>
      </setting>
      <setting name="FDA_DROP_BOX_SIP_WS_MAIL_FDA_MAIL" serializeAs="String">
        <value>http://10.111.28.108/Mail/FDA_MAIL.asmx</value>
      </setting>
      <setting name="FDA_DROP_BOX_M27_WS_FLATTEN_WS_FLATTEN" serializeAs="String">
        <value>http://10.111.28.137/TEST_FLATEN/WS_FLATTEN.asmx</value>
      </setting>
      <setting name="FDA_DROP_BOX_M27_WS_SIP27_WS_SIP27" serializeAs="String">
        <value>http://10.111.28.65/SIP27/WS_SIP27.asmx</value>
      </setting>
    </FDA_DROP_BOX_M27.My.MySettings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: 91E628AA-F171-4BF0-BE87-AB47627F430A-->